<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?family=BenchNine&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <link rel="stylesheet" type="text/css" href="../static/style_2.css">
        <link rel="shortcut icon" href="favicon.ico" />
        <title>Stars</title>  <!--TODO Interesting title s-->
</head>
    <body>
        <div id="header">
            <p class="header_text">STARS</p>
            <div class="title-container">
                <h1 class="title-text">Find your star</h1>
            </div>
        </div>

<article>
   <div id="history">
       <h2>Stellar classification</h2>
       <p>
           Stellar classification, scheme for assigning stars to types according to their temperatures as estimated from
           their spectra. The generally accepted system of stellar classification is a combination of two classification
           schemes: the Harvard system, which is based on the star’s surface temperature, and the MK system, which is
           based on the star’s luminosity. In the 1860s the Italian astronomer Angelo Secchi distinguished four main
           spectral types of stars. During the compilation of the Henry Draper Catalogue of stars, more types were
           distinguished and were designated by letter in alphabetic sequence according to the strength of their
           hydrogen spectral lines. From hot stars to cool, the order of stellar types is: O, B, A, F, G, K, M.
           Numbers from 0 to 9 are used to subdivide the types, the higher numbers applying to cooler stars.<br><br>
       </p>
   </div>
    <div id="stars">
        <h2>Predicted spectral class is K</h2>
        <p>Prediction acccuracy:{{ acc }}%</p>
            <img title="Class-K" height="400" width="500" src="../static/pic/class-K_1.jpg" /><br>
        <figcaption><i> Alpha Centauri B </i></figcaption> <br>

            <img title="Class-K" height="400" width="500" src="../static/pic/class-K_2.jpg" />
        <figcaption><i> Epsilon Indi </i></figcaption>
        <br>
        <p>
            A K-type main-sequence star, also referred to as a K dwarf or Orange dwarf, is a main-sequence
            (hydrogen-burning) star of spectral type K and luminosity class V. These stars are intermediate in
            size between red M-type main-sequence stars ("red dwarfs") and yellow G-type main-sequence stars. They have
            masses between 0.5 and 0.8 times the mass of the Sun and surface temperatures between 3,900 and 5,200 K.
            These stars are of particular interest in the search for extraterrestrial life.
            <br><br>
        </p>
    </div>
</article>

    <footer id="footer">
    <div class="footer-top">
        <div class="footer-links">
            <h4>Dataset</h4>
            <ul>
              <li style="list-style-type: None;">Star dataset to predict star types from <a href="https://www.kaggle.com/deepu1109/star-dataset">kaggle.com</a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <h4>Contact</h4>
            <p>
             <strong>Martin Jenigár  | Email:</strong> martin.jenigar@student.tuke.sk<br>
             <strong>Zsolt Pankulics | Email:</strong> zsolt.pankulics@student.tuke.sk<br>
             <strong>Samuel Široký   | Email:</strong> samuel.siroky@student.tuke.sk<br>
             <strong>Jozef Kondáš    | Email:</strong> jozef.kondas@student.tuke.sk<br>
            </p>

        </div>
        <div class="footer-services">
            <h4>Services</h4>
            <p>
             <a class=anchor_padding href="https://gitlab.cit.fei.tuke.sk/zp481sy/zct_allpain"><strong><img src="../static/pic/gitlab-logo-gray-rgb.png" height="50"></a>
             <a class=anchor_padding href="https://aws.amazon.com/what-is-cloud-computing"><img src="https://d0.awsstatic.com/logos/powered-by-aws-white.png" alt="Powered by AWS Cloud Computing" height="50" ></a>
             <a class=anchor_padding href="https://portal.azure.com/#home/"><img src="https://img.icons8.com/color/48/000000/azure-1.png"/></a><br>
            </p>
        </div>
    </div>
    <div class="copyright">
        &copy; 2020 <strong>Project created by team: All pain, No gain</strong>, Technical University of Košice
      </div>
  </footer>
</body>
</html>